In [1]:
%%capture
%run data_merging.ipynb

In [2]:
# before dropping columns
merged_years['2017']

,City,status,Household Income,All,African American,American Indian,Hispanic/ Latinx,Pacific Islander,Asian,White,Domestic Unknown,Int'l,Female,Male,Other,Unknown,Measure Values
0,Alameda,Adm,131116,253.0,12.0,0.0,20.0,0.0,150.0,50.0,4.0,0.0,140.0,107.0,0.0,3.0,4.004111
1,Alameda,App,131116,339.0,24.0,0.0,28.0,0.0,188.0,67.0,6.0,0.0,176.0,151.0,0.0,0.0,4.001742
2,Alhambra,Adm,72406,224.0,0.0,0.0,16.0,0.0,196.0,0.0,4.0,0.0,137.0,77.0,0.0,5.0,3.791239
3,Alhambra,App,72406,399.0,5.0,0.0,62.0,0.0,317.0,0.0,6.0,0.0,231.0,155.0,0.0,8.0,3.789499
4,Anaheim,Adm,85133,452.0,5.0,0.0,181.0,0.0,156.0,79.0,0.0,0.0,275.0,164.0,0.0,0.0,3.864199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,Whittier,App,91457,511.0,10.0,0.0,437.0,0.0,19.0,24.0,0.0,0.0,294.0,204.0,0.0,0.0,3.973521
274,Yorba Linda,Adm,151534,103.0,5.0,0.0,5.0,0.0,48.0,38.0,5.0,0.0,48.0,49.0,0.0,6.0,4.001650
275,Yorba Linda,App,151534,145.0,6.0,0.0,16.0,0.0,63.0,53.0,5.0,0.0,70.0,67.0,0.0,8.0,4.001650
276,Yuba City,Adm,59588,74.0,0.0,0.0,22.0,0.0,36.0,8.0,0.0,0.0,40.0,34.0,0.0,0.0,3.960135
277,Yuba City,App,59588,111.0,0.0,0.0,35.0,0.0,51.0,11.0,0.0,0.0,60.0,48.0,0.0,0.0,3.963658

In [3]:
for year in years:
    merged_years[year] = merged_years[year].drop(['American Indian', 'Pacific Islander', 'Domestic Unknown', 'Int\'l', 'Other', 'Unknown'], axis=1)

In [4]:
# after dropping columns
merged_years['2017']

,City,status,Household Income,All,African American,Hispanic/ Latinx,Asian,White,Female,Male,Measure Values
0,Alameda,Adm,131116,253.0,12.0,20.0,150.0,50.0,140.0,107.0,4.004111
1,Alameda,App,131116,339.0,24.0,28.0,188.0,67.0,176.0,151.0,4.001742
2,Alhambra,Adm,72406,224.0,0.0,16.0,196.0,0.0,137.0,77.0,3.791239
3,Alhambra,App,72406,399.0,5.0,62.0,317.0,0.0,231.0,155.0,3.789499
4,Anaheim,Adm,85133,452.0,5.0,181.0,156.0,79.0,275.0,164.0,3.864199
...,...,...,...,...,...,...,...,...,...,...,...
273,Whittier,App,91457,511.0,10.0,437.0,19.0,24.0,294.0,204.0,3.973521
274,Yorba Linda,Adm,151534,103.0,5.0,5.0,48.0,38.0,48.0,49.0,4.001650
275,Yorba Linda,App,151534,145.0,6.0,16.0,63.0,53.0,70.0,67.0,4.001650
276,Yuba City,Adm,59588,74.0,0.0,22.0,36.0,8.0,40.0,34.0,3.960135
277,Yuba City,App,59588,111.0,0.0,35.0,51.0,11.0,60.0,48.0,3.963658

Explanation for dropping the columns: As seen in the summary data, there's not much information on those particular groups in general, or they're too nondescriptive to be applied (for example, what is "Domestic Unknown"?). This decision was also informed by the heatmap of NaN values for the categories; for the dropped categories, most of the values were NaN.

In [5]:
# now, we know number of cities has stayed the same across all 8 years
# so we can create 3 new DataFrames: 2016-2019, 2020-2023, and all
for year in years:
    print(len(merged_years[year]))

278
278
278
278
278
278
278
278

In [6]:
# create new DataFrames merging every two rows
#
# before_covid    Contains merged data from 2016-2019, before COVID
# after_covid     Contains merged data from 2020-2023, after COVID
# all             Contains merged data across all 8 years

before_covid = pd.DataFrame(columns=['City', 'Income', 'GPA', 'All', 'African American', 'Hispanic/ Latinx', 'Asian', 'White', 'Female', 'Male'])
after_covid = pd.DataFrame(columns=['City', 'Income', 'GPA', 'All', 'African American', 'Hispanic/ Latinx', 'Asian', 'White', 'Female', 'Male'])
all = pd.DataFrame(columns=['City', 'Income', 'GPA', 'All', 'African American', 'Hispanic/ Latinx', 'Asian', 'White', 'Female', 'Male'])

before_years = ['2016', '2017', '2018', '2019']
after_years = ['2020', '2021', '2022', '2023']
categories = ['All', 'African American', 'Hispanic/ Latinx', 'Asian', 'White', 'Female', 'Male']

for idx in range(0, 277, 2):
    before_values = {}
    after_values = {}
    all_values = {}
    
    # city
    before_values['City'] = after_values['City'] = all_values['City'] = merged_years['2016'].iloc[idx]['City']

    # admitted proportions
    before_adm = before_app = after_adm = after_app = all_adm = all_app = 0

    for category in categories:
        for year in before_years:
            before_adm += merged_years[year].iloc[idx][category]
            before_app += merged_years[year].iloc[idx+1][category]
            all_adm += merged_years[year].iloc[idx][category]
            all_app += merged_years[year].iloc[idx+1][category]
            
        for year in after_years:
            before_adm += merged_years[year].iloc[idx][category]
            before_app += merged_years[year].iloc[idx+1][category]
            all_adm += merged_years[year].iloc[idx][category]
            all_app += merged_years[year].iloc[idx+1][category]

        if before_app == 0:
            before_app = 1
        if after_app == 0:
            after_app = 1
        if all_app == 0:
            all_app = 1
    
        before_values[category] = before_adm / before_app
        after_values[category] = after_adm / after_app
        all_values[category] = all_adm / all_app

    # weighted gpa
    before_total_adm = after_total_adm = before_gpa = after_gpa = all_total_adm = all_gpa = 0
    
    for year in before_years:
        before_total_adm += merged_years[year].iloc[idx]['All']
        all_total_adm += merged_years[year].iloc[idx]['All']
        before_gpa += merged_years[year].iloc[idx]['Measure Values'] * merged_years[year].iloc[idx]['All']
        all_gpa += merged_years[year].iloc[idx]['Measure Values'] * merged_years[year].iloc[idx]['All']
        
    for year in after_years:
        after_total_adm += merged_years[year].iloc[idx]['All']
        all_total_adm += merged_years[year].iloc[idx]['All']
        after_gpa += merged_years[year].iloc[idx]['Measure Values'] * merged_years[year].iloc[idx]['All']
        all_gpa += merged_years[year].iloc[idx]['Measure Values'] * merged_years[year].iloc[idx]['All']

    before_values['GPA'] = before_gpa / before_total_adm
    after_values['GPA'] = after_gpa / after_total_adm
    all_values['GPA'] = all_gpa / all_total_adm

    # average income over the years
    before_inc = after_inc = all_inc = 0
    
    for year in before_years:
        before_inc += merged_years[year].iloc[idx]['Household Income']
        all_inc += merged_years[year].iloc[idx]['Household Income']
        
    for year in after_years:
        after_inc += merged_years[year].iloc[idx]['Household Income']
        all_inc += merged_years[year].iloc[idx]['Household Income']

    before_values['Income'] = before_inc / 4
    after_values['Income'] = after_inc / 4
    all_values['Income'] = all_inc / 8

    before_concat = pd.DataFrame(before_values, index=[0])
    after_concat = pd.DataFrame(after_values, index=[0])
    all_concat = pd.DataFrame(all_values, index=[0])

    before_covid = pd.concat([before_covid, before_concat])
    after_covid = pd.concat([after_covid, after_concat])
    all = pd.concat([all, all_concat])

/var/folders/dh/twtyblw54yb66b4yl8q2hy6w0000gn/T/ipykernel_3446/672921797.py:88: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  before_covid = pd.concat([before_covid, before_concat])
/var/folders/dh/twtyblw54yb66b4yl8q2hy6w0000gn/T/ipykernel_3446/672921797.py:89: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  after_covid = pd.concat([after_covid, after_concat])
/var/folders/dh/twtyblw54yb66b4yl8q2hy6w0000gn/T/ipykernel_3446/672921797.py:90: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all = pd.concat([all, all_concat])

In [14]:
all.head(20)

,City,Income,GPA,All,African American,Hispanic/ Latinx,Asian,White,Female,Male
0,Alameda,131116.0,4.010115,0.731220,0.723266,0.723137,0.730024,0.732916,0.735942,0.733349
0,Alhambra,72406.0,3.899607,0.656355,0.652594,0.628040,0.655500,0.655500,0.661827,0.655441
0,Anaheim,85133.0,3.913875,0.604252,0.602425,0.583909,0.605414,0.602824,0.605799,0.603401
0,Antioch,100178.0,3.955013,0.642617,0.615903,0.626263,0.640932,0.642489,0.640383,0.642428
0,Apple Valley,56187.0,3.975666,0.662374,0.654762,0.643967,0.655873,0.662350,0.662013,0.661558
0,Bakersfield,72017.0,3.957527,0.656550,0.649121,0.646569,0.658319,0.657282,0.658158,0.656957
0,Baldwin Park,70418.0,3.869523,0.642010,0.642010,0.619959,0.641262,0.641262,0.644918,0.640947
0,Bellflower,74131.0,3.845850,0.608173,0.589800,0.605730,0.603015,0.603015,0.609479,0.604305
0,Berkeley,94846.0,3.997658,0.790173,0.773797,0.768584,0.779671,0.789932,0.792108,0.790003
0,Brentwood,132610.0,3.965810,0.644661,0.632383,0.629175,0.644044,0.643655,0.646380,0.643250
0,Buena Park,102840.0,3.932040,0.599018,0.601276,0.588652,0.603493,0.601196,0.605643,0.599886
0,Burbank,92581.0,4.032634,0.580210,0.571989,0.565527,0.576847,0.577349,0.579839,0.579278
0,Camarillo,100594.0,4.027909,0.628081,0.630178,0.617263,0.630124,0.629131,0.631201,0.628176
0,Carlsbad,146596.0,4.051428,0.604490,0.600000,0.587886,0.607413,0.602787,0.605527,0.602563
0,Carmichael,81823.0,3.730800,0.570776,0.558952,0.568182,0.569892,0.552486,0.550201,0.561243
0,Carson,98862.0,3.993232,0.641587,0.624317,0.620708,0.637104,0.638496,0.646205,0.639643
0,Castro Valley,133285.0,3.988133,0.657311,0.649057,0.638441,0.659887,0.656640,0.657789,0.656017
0,Chico,65021.0,4.026925,0.644762,0.645833,0.634505,0.643967,0.644181,0.647634,0.643345
0,Chino,95721.0,3.879619,0.613701,0.610487,0.606012,0.612069,0.607833,0.613404,0.609124
0,Chino Hills,105978.0,3.936373,0.739038,0.732285,0.706572,0.740287,0.737976,0.740407,0.738718

In [16]:
X = all.drop(['All', 'City'], axis=1)
y = all['All']
X = sm.add_constant(X)
X

,const,Income,GPA,African American,Hispanic/ Latinx,Asian,White,Female,Male
0,1.0,131116.0,4.010115,0.723266,0.723137,0.730024,0.732916,0.735942,0.733349
0,1.0,72406.0,3.899607,0.652594,0.628040,0.655500,0.655500,0.661827,0.655441
0,1.0,85133.0,3.913875,0.602425,0.583909,0.605414,0.602824,0.605799,0.603401
0,1.0,100178.0,3.955013,0.615903,0.626263,0.640932,0.642489,0.640383,0.642428
0,1.0,56187.0,3.975666,0.654762,0.643967,0.655873,0.662350,0.662013,0.661558
...,...,...,...,...,...,...,...,...,...
0,1.0,84663.0,3.964565,0.631767,0.611454,0.634739,0.633333,0.631541,0.633234
0,1.0,85229.0,3.867738,0.666252,0.652911,0.668728,0.668827,0.675052,0.668217
0,1.0,91457.0,3.968221,0.563686,0.553627,0.556257,0.558646,0.565018,0.561479
0,1.0,151534.0,3.990941,0.670539,0.654572,0.685877,0.666228,0.668037,0.667639
0,1.0,59588.0,3.973756,0.681716,0.668118,0.685437,0.683962,0.683807,0.683574

In [17]:
import statsmodels.api as sm 

X = all.drop(['All', 'City'], axis=1)
y = all['All']

model = sm.Logit(y, X)

result = model.fit()

Optimization terminated successfully.
         Current function value: 0.595606
         Iterations 5

In [18]:
result.summary()

/opt/anaconda3/lib/python3.11/site-packages/statsmodels/base/model.py:595: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '
/opt/anaconda3/lib/python3.11/site-packages/statsmodels/base/model.py:595: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '
/opt/anaconda3/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:4465: RuntimeWarning: divide by zero encountered in scalar divide
  return 1 - self.llf/self.llnull

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                    All   No. Observations:                  139
Model:                          Logit   Df Residuals:                      131
Method:                           MLE   Df Model:                            7
Date:                Sat, 08 Jun 2024   Pseudo R-squ.:                     inf
Time:                        18:53:33   Log-Likelihood:                -82.789
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Income            6.235e-07   7.72e-06      0.081      0.936   -1.45e-05    1.58e-05
GPA                 -0.5563      0.637     -0.874      0.382      -1.804       0.692
African American     2.0355     28.275      0.072      0.943     -53.383      57.454
Hispanic/ Latinx    -1.1295     26.944     -0.042      0.967     -53.939      51.680
Asian               -0.7905     39.131     -0.020      0.984     -77.485      75.904
White                3.0806    119.604      0.026      0.979    -231.340     237.501
Female              -2.2205     72.955     -0.030      0.976    -145.209     140.768
Male                 3.2808    127.703      0.026      0.980    -247.013     253.574
====================================================================================
"""